@font-face {
    font-family: iranyekan;
    src: url('../fonts/eot/iranyekanwebbold.eot');
    src: url('../fonts/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff/iranyekanwebbold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/iranyekanwebbold.ttf') format('truetype');
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
img{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}
input:focus,button:focus,select:focus{
    outline: none;
}

a:hover {
    text-decoration: none;
}
body{
    direction: rtl;
    font-family: iranyekan, serif;
    background-color: #f3f3f3;
    color: #333;
    box-sizing: border-box;
}
/*btn--ripple*/
.btn--ripple {
    width: max-content;
    position: relative;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    overflow: hidden;
    z-index: 40;
    padding: 0.7rem 1rem;
}

.btn--ripple-ink {
    display: block;
    position: absolute;
    background: rgb(178, 178, 178);
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.btn--ripple-animate {
    -webkit-animation: ripple 0.65s linear;
    animation: ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: scale(2.5);
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}
/*menu-btn*/
.menu-button {
    position: absolute;
    width: max-content;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: transparent;
    border-radius: 0.5rem;
    display: none;
    z-index: 10;
    top: 1.6rem;
}



.bar {
    position: relative;
    display: block;
    width: 1.5rem;
    height: 0.1rem;
    margin: 0.5rem auto;
    background-color: #c1c9d0;
    border-radius: 10px;
    -webkit-transition: .3s;
    transition: .3s;
}
.menu-button .bar:nth-of-type(1) {
    margin-top: 0;
}
.menu-button .bar:nth-of-type(2) {
    margin: 0;
    width: 1rem;
}
.menu-button .bar:nth-of-type(3) {
    margin-bottom: 0;
}
.cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(11px) rotate(-45deg);
    -ms-transform: translateY(11px) rotate(-45deg);
    transform: translateY(11px) rotate(-45deg);
}

.cross .bar:nth-of-type(2) {
    opacity: 0;
}

.cross .bar:nth-of-type(3) {
    -webkit-transform: translateY(-8px) rotate(45deg);
    -ms-transform: translateY(-8px) rotate(45deg);
    transform: translateY(-8px) rotate(45deg);
}
/*header*/
nav{
    position: relative;
    width: 100%;
}
.menuSite{
    background-color: #ffffff;
    width: 100%;
}
.menuList{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
    transition: 0.3s ease-in-out;
}
.menuItems{
    position: relative;
    display: inline-block;
    font-size: 0.9rem;
    margin: 0;
}
.menuItems:after{
    content: '';
    width: 0;
    background-color: #016fd8;
    display: block;
    height: 0.15rem;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.15s ease-in-out;
}
.menuItems:hover:after{
    width: 100%;
}
.menuItems a{
    display: inline-block;
    color: #939da7;
    padding: 1.5rem 2rem;
    margin: 0;
}
.menuItems.logo,.menuItems.close_menu{
    background-color: #016fd8;
}
.menuItems.logo a,.menuItems.close_menu a{
    color: #ffffff;
}
.menuItems.close_menu,.Logo_mobile{
    display: none;
}
.menu-left-items{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    border-right: 1px solid #eaeaea;
}
.menu-left-items-elements{
    display: inline-block;
    padding: 1.5rem 2rem;
}
.menu-left-items-elements .fa-search{
    color: #939da7;
    font-size: 1.5rem;
    cursor: pointer;
}
.menu-left-items-elements:nth-child(1){
    display: none;
}
/*main section*/
.mainBlog{
    width: 98%;
    margin: 1rem auto;
}
.card-blog-section{
    position: relative;
    margin: 0.3rem;
    overflow: hidden;
    border-radius: 0.3rem;
}
.card-blog-section img{
    width: 100%;
    border-radius: 0.3rem;
    transition: 0.3s ease-in-out;
}
.card-blog-section:hover img{
    transform: scale(1.2);
}
.card-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top,rgba(51,51,51,1),rgba(51,51,51,.1));
    border-radius: 0.3rem;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.card-blog-section h3{
    position: absolute;
    bottom: 25px;
    right: 30px;
    color: #fff;
    font-weight: 700;
    padding-left: 30px;
    line-height: 2.1;
    text-align: right;
    z-index: 10;
}
.no-padding{
    padding: 0;
}
.card-blog-section.medium h3{
    line-height: 1.5rem;
    font-size: 0.7rem;
}
/*blog page*/
.blog_page{
    width: 98%;
    margin: 1rem auto;
}
.blog-body{
    margin-bottom: 3rem;
}
.blog-body h1{
    margin: 1rem 0;
    text-align: right;
    position: relative;
    cursor: default;
}
.blog-body h1 span{
    position: relative;
    background-color: #f3f3f3;
    z-index: 2;
    padding-left: 1rem;
}
.blog-body h1:after{
    content: '';
    height: 1px;
    background-color: #ccc;
    width: 100%;
    display: block;
    position: absolute;
    right: 0;
    top: 0.65rem;
    z-index: 1;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.slider-blog_blog{
    direction: ltr;
}
.slider-blog-box{
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 5px rgba(0,0,0,.05);
    position: relative;
    overflow: hidden;
    border-radius: 0.3rem;
}
.slider-blog-box img{
    width: 100%;
    height: 100%;
    transform: scaleY(1.1);
    border-radius: 0.3rem;
}
.cover-img-slider{
    position: absolute;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top,#333,rgba(51,51,51,0));
    right: 0;
    bottom: 0;
}
.swiper-slide a h4{
    color: #444;
    text-align: right;
    font-size: 0.9rem;
    margin: 0.5rem 0 0 0.2rem;
}
.slider-prev,.slider-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    z-index: 40;
    display: block;
    cursor: pointer;
}
.slider-next{
    right: 0;
    left: auto;
    border-radius: 50% 0 0 50%;
    padding: 0.5rem 1.5rem 0.5rem 0.75rem;
}
.slider-prev{
    left: 0;
    right: auto;
    border-radius: 0 50% 50% 0;
    padding: 0.5rem 0.75rem 0.5rem 1.5rem;
}
.last-articles-box{
    margin: 1.5rem 0;
}
.last-articles-box h4{
    text-align: right;
    margin: 0.75rem;
    font-size: 0.9rem;
    cursor: default;
}
.last-articles-box h5{
    font-size: 0.8rem;
    color: #9b9b9b;
    text-align: right;
    cursor: default;
    margin: 0.75rem;
}
.play-show{
    position: absolute;
    z-index: 11;
    top: 50%;
    display: block;
    width: 3rem;
    height: 3rem;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.play-show .fa-video{
    color: #ffffff;
    margin: 1rem 0 0 0;
}
.slider-blog-box:hover .play-show{
    opacity: 100%;
}
/*left blog*/
.left-blog-img{
    width: 100%;
    margin: 1.5rem 0 0 0;
    border-radius: 0.3rem;
}
.blog-place{
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 4px 5px rgba(0,0,0,.05);
    margin: 1.5rem 0;
}
.blog-place h1{
    color: #939da7;
    cursor: default;
    font-size: 0.9rem;
    text-align: right;
    position: relative;
    margin-bottom: 1.5rem;
}
.blog-place-title{
    position: absolute;
    top: 0.7rem;
    right: 2rem;
}
.blog-place-Name{
    float: left;
    margin-top: 0.8rem;
    font-size: 0.8rem;
}
.blog-place h1 .fa-star{
    color: #939da7;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
.quotation-blog{
    display: block;
    border-top: 1px solid #b2bcc44d;
    width: 100%;
    text-align: right;
    padding: 1rem 0 3rem 0;
    position: relative;
}
.quotation-blog:nth-child(2){
    border-top: none;
}
.quotation-blog .fa-quote-right{
    color: #eaeaea;
    font-size: 1.5rem;
}
.quotation-blog-title{
    color: #444;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 0;
    padding-right: 2rem;
}
.quotation-blog-text{
    font-size: 0.9rem;
    color: #444;
    position: absolute;
    top: 3rem;
    right: 0;
    padding-right: 2rem;
}
.blog-movie{
    display: block;
    margin: 1rem 0;
}
.blog-img-box{
    position: relative;
    overflow: hidden;
    border-radius: 0.3rem;
}
.blog-img-box img{
    width: 100%;
    border-radius: 0.3rem;
    position: relative;
    top: 0.5rem;
    transition: 0.3s ease-in-out;
    height: 100%;
}
.blog-movie h4{
    font-size: 0.85rem;
    line-height: 1.8;
    font-weight: 500;
    color: #444;
    text-align: right;
    margin: 0.5rem 0.5rem 0 0;
}
.cover-img-blog{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(to top,#333,rgba(51,51,51,.1));
    border-radius: 0.3rem;
}
/*footer*/
footer{
    width: 100%;
}
.topFooter{
    background-color: #313131;
    border-bottom: 1px solid rgba(255,255,255,.06);
    padding: 1rem 0;
}
.topFooter h4{
    color: #ffffff;
    text-align: right;
    cursor: default;
    padding: 0.5rem;
}
.topFooter h4 a{
    color: #aaaaaa;
    transition: 0.3s ease-in-out;
    margin: 0 0.4rem;
}
.topFooter h4 a:hover{
    color: #ffffff;
    font-size: 0.9rem;
    display: inline-block;
}
.LOGO_footer{
    font-size: 1.5rem;
    color: #aaaaaa;
    transition: 0.3s ease-in-out;
    border-right: 1px solid #aaaaaa;
    padding: 0 1rem;
}
.LOGO_footer:hover{
    color: #ffffff;
}
.social{
    display: inline-block;
    margin: 0 0.5rem;
}
.social svg{
    color: #aaaaaa;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
}
.social svg:hover{
    color: #ffffff;
}
.mainFooter{
    background-color: #282828;
    padding: 1rem 0;
}
.mainFooter p{
    color: #ffffff;
    cursor: default;
    font-size: 0.9rem;
    text-align: right;
    padding: 0.5rem;
}
.footer-lists{
    margin-right: auto;
}
.footer-lists ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-lists ul li{
    display: inline-block;
}
.footer-lists ul li a{
    display: inline-block;
    color: #ffffff;
    padding: 0.5rem;
    font-size: 0.9rem;
}
.top_img-place{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.top_img-place img{
    width: 100%;
    position: relative;
}
.cover-img-bottom{
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 2;
    bottom: 0;
    right: 0;
    background: linear-gradient(to top,#000,rgba(0,0,0,0));
}
.cover-img-top{
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 2;
    top: 0;
    right: 0;
    background: linear-gradient(to bottom,#000,rgba(0,0,0,0));
}
.top_img-place h3{
    font-size: 3rem;
    font-weight: 700;
    cursor: default;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    display: block;
    width: 100%;
    color: #ffffff;
}
.blog-page-elements{
    margin: 1rem 0 ;
}
.blog-page-elements-box{
    width: 100%;
    position: relative;
    margin: 1rem 0;
}
.img-place-blog{
    position: relative;
    overflow: hidden;
    border-radius: 0.3rem;
    /*vertical-align: unset;*/
}
.img-place-blog img{
    width: 100%;
    border-radius: 0.3rem;
    position: relative;
    transition: 0.3s ease-in-out;
}
.img-place-blog-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    background: linear-gradient(to top,rgba(51,51,51,1),rgba(51,51,51,.1));
    z-index: 3;
    border-radius: 0.3rem;
}
.img-place-blog:hover img{
    transform: scale(1.1);
}
.blog-page-elements-box h3{
    font-size: 0.9rem;
    text-align: right;
    margin: 1rem 0;
    color: #333;
}
.blog-page-elements-box h4{
    font-size: 0.85rem;
    text-align: justify;
    margin: 1rem 0;
    color: #9f9f9f;
    line-height: 1.5;
}
.play-show-blog{
    position: absolute;
    z-index: 7;
    top: 50%;
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    padding: 1rem;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.play-show-blog .fa-video{
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0.5rem 0;
}
.img-place-blog span{
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: #016fd8;
    color: #ffffff;
    font-size: 0.7rem;
    padding: 0.1rem 0.5rem;
}
.img-place-blog:hover .play-show-blog{
    opacity: 100%;
}
.date-blog-post{
    display: block;
    text-align: right;
    margin: 1rem 0;
    color: #9f9f9f;
    font-size: 0.9rem;
}
/*blog posts*/
.main-post-blog{
    position: relative;
    margin-top: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 0 0.5rem #cbcbcb;
    border-radius: 0.3rem;
}
.blog-top-img{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.top-post-img{
    position: relative;
}
.top-post-img img{
    width: 100%;
    border-radius: 0.3rem;
}
.cover-img-post{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background: linear-gradient(to top,#fff,#fff0);
    z-index: 2;
}
.bottom-img-post{
    position: absolute;
    bottom: 2rem;
    right: 0;
    z-index: 3;
    padding-right: 5rem;
    display: flex;
    width: 100%;
}
.bottom-img-post img{
    width: 5rem;
    height: 5rem;
    border-radius: 0.3rem;
}
.bottom-img-post h1{
    color: #000000;
    padding: 0 1rem;
    font-size: 1.5rem;
    display: block;
    cursor: default;
    text-align: right;
}
.bottom-img-post a{
    display: block;
    color: #444444;
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    padding-right: 6rem;
}
.blog-post-define{
    padding: 2rem 0;
}
.blog-post-define .fa-quote-right{
    position: absolute;
    right: 1rem;
    color: #eeeeee;
    font-size: 5rem;
    z-index: 0;
}
.blog-post-define p{
    text-align: justify;
    padding: 1rem 4rem;
    color: #333;
    line-height: 2;
    position: relative;
    z-index: 1;
    cursor: default;
}
.blog-post-detail{
    width: 100%;
    padding: 2rem 4rem;
}
.blog-post-detail h1{
    text-align: right;
    font-size: 1.5rem;
    margin: 1rem 0;
    cursor: default;
}
.blog-post-detail img{
    width: 100%;
    border-radius: 0.3rem;
    margin: 1rem 0;
}
.blog-post-detail p{
    text-align: justify;
    line-height: 2rem;
    color: #444444;
    cursor: default;
}
.sharing-post-blog{
    border-top: 1px solid #eee;
    margin: 1rem 4rem;
    padding: 1rem 0;
}
.social-post-sharing{
    text-align: right;
}
.social-post-sharing span,.vote-post-sharing span{
    display: block;
    font-size: 0.8rem;
    color: #676767;
    cursor: default;
}
.social-post-sharing a{
    display: inline-block;
    margin: 0.4rem;
}
.social-post-sharing a:nth-child(2){
    margin-right: 0;
}
.social-post-sharing a svg{
    color: #676767;
    font-size: 1.2rem;
}
.vote-post-sharing{
    text-align: left;
    cursor: default;
}
.star-vote-box .fa-star{
    color: #d9d9d9;
    font-size: 1rem;
    margin: 0.1rem;
    cursor: pointer;
}
.star-vote-box{
    margin: 0.5rem 0;
}
.slider-blog-post{
    background-color: #333;
    position: relative;
    margin: 1rem 0;
    border-radius: 0.3rem;
    display: flex;
}
.slider-blog-post:before{
    content: '';
    background-color: #333;
    display: block;
    position: absolute;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 1rem;
    box-shadow: 0.5rem 0 0.5rem rgba(0, 0, 0, 0.36);
    border-radius: 0.3rem 0 0 0.3rem;
}
.post-blog-page-slider{
    width: 70%;
    margin-right: auto;
    margin-left: 0;
    direction: ltr;
    padding: 1rem 0;
}
.slider-post-img-box{
    position: relative;
    width: 100%;
    cursor: pointer;
}
.slider-post-img-box img{
    width: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 0.3rem;
}
.slider-post-img-box:hover img{
    transform: scale(1.05);
}
.site_define{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    width: 30%;
    padding: 3rem 1rem;
    height: 100%;
    background-color: #242424;
    border-radius: 0 0.3rem 0.3rem 0;
}
.site_define h2{
    color: #ffffff;
    text-align: center;
    cursor: default;
}
.site_define h3{
    color: #ccc;
    text-align: center;
    cursor: default;
    font-size: 0.8rem;
    margin: 2rem 0;
}
.site_define a{
    display: block;
    text-align: center;
    margin: 2rem auto;
    width: max-content;
    color: #ffffff;
    background-color: #016fd8;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 0.3rem;
}
.site_define a .btn--ripple-ink{
    background-color: #004388;
}
body > section > div > div > div.col-12.col-lg-9 > div.blog-body > h1 > div{
    margin: 2rem 0;
}
.sendOpinion{
    direction: rtl;
}
.sendOpinion form{
    width: 100%;
    margin-top: 1rem;
}
.sendOpinion .fa-user-circle{
    font-size: 3rem;
    color: #aaaaaa;
    display: block;
    margin: auto;
}
.input-place{
    position: relative;
    width: 100%;
    display: inline-block;
}
.input-place input,.input-place textarea{
    width: 100%;
    border: 1px solid #aaaaaa;
    box-shadow: 0 0 0.5rem #aaaaaa inset;
    direction: rtl;
    text-align: right;
    padding: 0.5rem;
}
.input-place textarea{
    height: 5rem;
}
.input-place input + label,.input-place textarea + label{
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    font-size: 0.85rem;
    transition: 0.3s ease-in-out;
}
.input-place input:focus + label,.input-place textarea:focus + label,
.input-place input:valid + label,.input-place textarea:valid + label{
    top: -1.5rem;
}
#Opinion:focus{
    outline: none;
}
.sendOpinionBtn{
    display: block;
    margin: 1rem auto;
    color: #ffffff;
    background-color: #555;
    border: none;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
}
.sendOpinionBtn .btn--ripple-ink{
    background-color: #222;
}


@media screen and (max-width: 1300px){
    .quotation-blog-title{
        font-size: 0.7rem;
    }
    .quotation-blog-text{
        font-size: 0.8rem;
    }
    .blog-place-title{
        font-size: 0.8rem;
    }
    .blog-place-Name{
        font-size: 0.7rem;
    }
    .blog-movie h4{
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 1200px){
    .menuItems a{
        padding: 1.5rem;
    }
    .blog-place-Name{
        font-size: 0.7rem;
        float: unset;
        display: block;
        margin: 0.5rem 0;
    }
}
@media screen and (max-width: 992px){
    .mainBlog{
        padding-top: 4.5rem;
    }
    .top_img-place,.post-blog{
        margin-top: 4.8rem;
    }
    nav{
        position: fixed;
        z-index: 50;
        top: 0;
        width: 100%;
        box-shadow: 0 0 1rem #ffffff;
    }
    .menuList{
        position: fixed;
        background-color: #333;
        top: 0;
        right: -400px;
        height: 100vh;
        overflow-y: scroll;
        text-align: center;
        z-index: 999;
    }
    .menuList::-webkit-scrollbar{
        width: 0;
    }
    .menuItems{
        display: block;
        border-bottom: 1px solid #444;
    }
    .menuItems a{
        padding: 1rem 5rem;
    }
    .menuItems:after{
        display: none;
    }
    .menuItems.logo{
        display: none;
    }
    .menuItems.close_menu{
        display: block;
    }
    .menuItems.close_menu a{
        text-align: left;
        padding: 1.7rem 5rem;
    }
    .menu-left-items{
        position: relative;
        direction: ltr;
        border: none;
    }
    .menu-left-items-elements:nth-child(1),.menu-button,.Logo_mobile{
        display: block;
    }
    .Logo_mobile{
        position: absolute;
        right: 0;
        top: 0;

    }
    .Logo_mobile a{
        display: inline-block;
        color: #ffffff;
        background-color: #016fd8;
        padding: 1.65rem 2rem;
    }
    .blog-place-Name{
        font-size: 0.7rem;
        float: left;
        margin: 0.75rem 0;
    }
    .blog-movie h4{
        font-size: 0.7rem;
    }
    .topFooter h4 a{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 991px){
    .social-box{
        text-align: center;
        margin: 1rem auto;
    }
    .topFooter h4{
        text-align: center;
    }
    .mainFooter p{
        text-align: center;
    }
    .footer-lists{
        text-align: center;
    }
}
@media screen and (max-width: 768px){
    .site_define{
        padding: 1rem;
    }
    .site_define h3{
        margin: 0.75rem;
        font-size: 0.75rem;
    }
    .site_define a{
        margin: 0.75rem auto;
    }
    .bottom-img-post{
        padding-right: 2rem;
    }
    .bottom-img-post h1{
        font-size: 1rem;
    }
    .bottom-img-post a{
        bottom: 1rem;
    }
}
@media screen and (max-width: 576px){
    .mainFooter p{
        font-size: 0.8rem;
    }
    .footer-lists ul li{
        display: block;
    }
    .footer-lists ul li a{
        font-size: 0.8rem;
    }
    .blog-post-define{
        padding: 1rem 0;
    }
    .blog-post-detail h1{
        margin-top: 0;
    }
    .blog-post-define p{
        padding: 1rem 2rem;
    }
    .blog-post-detail{
        padding: 2rem;
    }
    .social-post-sharing,.vote-post-sharing{
        text-align: center;
    }
    .site_define,.post-blog-page-slider{
        width: 50%;
    }
    .site_define h2{
        font-size: 0.8rem;
    }
    .site_define h3{
        display: none;
    }
    .site_define a{
        margin: 0.5rem auto;
        font-size: 0.7rem;
    }
    .bottom-img-post img{
        width: 4rem;
        height: 4rem;
    }
    .bottom-img-post{
        padding-right: 1rem;
    }
    .bottom-img-post h1{
        font-size: 0.9rem;
    }
    .bottom-img-post a{
        font-size: 0.7rem;
        bottom: 0;
        right: 0;
    }
}